<!doctype html>
<html ng-app="TodoApp">
    <head>
        <style>
            .done{
                text-decoration: line-through;
            }
            ul li{
                list-style: none;
                border-bottom: 1px solid #bead33;
                padding: 5px;
            }
            .datetime{
                margin-right: 100px;
            }
        </style>
    </head>
<body>
    <div ng-controller="todoController as todoList">
        <form name="frm" ng-submit="todoList.addTodo()">
            <input type="text" name="todoListnewTodo" ng-model="todoList.newTodo" required>
            <button ng-disabled="frm.$invalid">Add</button>
        </form>
        <button ng-click="todoList.clearCompleted()">Clear Completed</button>
        <div>
            <p >
                <span>{{todoList.remaining()}}</span> of <span>{{todoList.todos.length}}</span> remaining.
            </p>
            <span ng-show="{{todoList.nomore()}}">No more todos.</span>
        </div>
        <ul>
            <li ng-repeat="todo in todoList.todos" ng-class={'done':todo.done}>
                <input type="checkbox" ng-model="todo.done">
                <span class="datetime">{{todo.time |date:"HH:mm:ss"}}</span>
                <span class="todoname">{{todo.title}}</span>
            </li>
        </ul>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script>
        var TodoApp = angular.module('TodoApp',[]);
        TodoApp.controller('todoController', todoController);
        function todoController(){
            var todoList = this;
            todoList.todos = [{'title':'Build todo App','done':false,'time':new Date()}];
            todoList.clearCompleted = function(){
                todoList.todos = todoList.todos.filter(function(item){
                    return !item.done;
                });
            };
            todoList.addTodo = function(){
                todoList.todos.push({'title':todoList.newTodo,'done':false,'time':new Date()});
                todoList.newTodo = '';
            };
            todoList.remaining = function(){
                var count =0;
                angular.forEach(todoList.todos,function(todo){
                    count += todo.done? 0 :1;
                });
                
                return count;
            };
            todoList.nomore =function(){
                var count =0;
                angular.forEach(todoList.todos,function(todo){
                    count += todo.done? 0 :1;
                });
                
                return (count==0)? true:false;
            }
        }
    </script>
</body>
</html>